<clarity-nav />

<div id="doctor_newquiz_container">
  <h2> New Questionnaire Form </h2>

  <div class="row">
    <button ng-click="doctorNewQuiz.save()">Save Questionnaire</button>
  </div>
  <div class="row">


  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 header">
        <h2>Quiz Title</h2>
        <input type="text" placeholder="Your Quiz Title" ng-model="doctorNewQuiz.title" />
        <hr>
    </div>
    <div class="col-md-2"></div>
  </div>

  <new-rubric></new-rubric>
  <new-metric></new-metric>
  <button ng-click="doctorNewQuiz.add_question()">+ Add a question</button>
  <button ng-click="doctorNewQuiz.save()">Save Questionnaire</button>
  <new-quiz ng-repeat="quiz in doctorNewQuiz.questions"></new-quiz>

</div>