<div id="loginForm">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4">
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 login_box">

       {{loginFormCtrl.user_type}} Login 

       <input type="text" placeholder="Username" ng-model="loginFormCtrl.username"/>
       <input type="password" placeholder="Password" ng-model="loginFormCtrl.password"/>
       <button ng-click="loginFormCtrl.logIn()"> Login </button>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4">
    </div>
  </div>
</div>