<div id="newRubric">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 question_block">
      <div class="question_block">
        <hr>
        <h2>Answer Template</h2>
        <h6> All of the questions in your quiz will have this answer form : </h6>
        <hr>
        <div class="row">
          <div class="col-md-8">
            a. <input type="text" placeholder="Example : Strongly Agree" ng-model="doctorNewQuiz.rubric_a" />
          </div>
          <div class="col-md-4" >
            <input type="text" placeholder="Example value : 4 "  ng-model="doctorNewQuiz.rubric_value_a" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            b. <input type="text" placeholder="Example : Agree"  ng-model="doctorNewQuiz.rubric_b" />
          </div>
          <div class="col-md-4" >
            <input type="text" placeholder="Example value : 3 "  ng-model="doctorNewQuiz.rubric_value_b"  />
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            c. <input type="text" placeholder="Example : Neither Agree nor Disagree" ng-model="doctorNewQuiz.rubric_c"  />
          </div>
          <div class="col-md-4" >
            <input type="text" placeholder="Example value : 2 "  ng-model="doctorNewQuiz.rubric_value_c"  />
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            d. <input type="text" placeholder="Example : Disagree"  ng-model="doctorNewQuiz.rubric_d"  />
          </div>
          <div class="col-md-4" >
            <input type="text" placeholder="Example value : 1 "  ng-model="doctorNewQuiz.rubric_value_d"  />
          </div>
        </div>   

        <div class="row">
          <div class="col-md-8">
            e. <input type="text" placeholder="Example : Strongly Disagree"  ng-model="doctorNewQuiz.rubric_e"  />
          </div>
          <div class="col-md-4" >
            <input type="text" placeholder="Example value : 0 "  ng-model="doctorNewQuiz.rubric_value_e"  />
          </div>
        </div>        

      </div>


    </div>
    <div class="col-md-2"></div>
  </div>
</div>