<div id="register_form">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4">
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 middle_box">
      <h4> Register Form </h4>
      <input type="text" placeholder="First Name" ng-model="registerFormCtrl.first_name" />
      <input type="text" placeholder="Last Name"  ng-model="registerFormCtrl.last_name"/>
      <input type="text" placeholder="Email"  ng-model="registerFormCtrl.email"/>
      <input type="password" placeholder="Password"  ng-model="registerFormCtrl.password" />

      <button ng-click="registerFormCtrl.save()"> Register </button>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4">
    </div>
</div>
