<div id="newQuizblock">
  <div class="row">
    <div class="col-lg-4 col-xs-4"></div>
    <div class="col-lg-4 col-md-4 col-xs-4 middle_block">
      <div class="dismiss">
        <span ng-click="doctorPatients.actions.close_creation()">X</span>
      </div>
      New Patient 
      <input type="text" placeholder="Patient Login Username" ng-model="doctorPatients.username"/>
      <input type="password" placeholder="Patient Password " ng-model="doctorPatients.password"/>
      <hr>
      <input type="text" placeholder="Patient Name" ng-model="doctorPatients.name"/>
      <input type="text" placeholder="Patient Email" ng-model="doctorPatients.email"/>
      <input type="number" placeholder="Patient Phone Number (111) 111 - 1111" ng-model="doctorPatients.phone"/>
      <button ng-click="doctorPatients.actions.save_patient()"> Save Patient </button>
    </div>
    <div class="col-lg-4 col-xs-4"></div>
</div>