<div id="patientCard">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4"></div>

    <div class="col-lg-4 col-md-4 col-xs-4 middle_box">
      <div class="row">
        <div class="col-lg-6 col-xs-6">
          {{patient.username}}
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-3 col-xs-3">
          <button ng-class="{ active : patient.show_details > 0 }" ng-click="doctorPatients.actions.show_details(patient.username)">Patient Details</button>
        </div>
        <div class="col-lg-3 col-xs-3">
          <button  ng-class="{ active : patient.show_send > 0 }"  ng-click="doctorPatients.actions.show_send(patient.username)">Send Medical Records</button>
        </div>
        <div class="col-lg-3 col-xs-3">
          <button class="disable">Quiz Performance</button>
        </div>
        <div class="col-lg-3 col-xs-3">
          <button class="disable">Delete</button>
        </div>
      </div>


      <div class="row" ng-if="patient.show_details > 0">
        <hr>
        Patient Details
        <div class="account_details">
          <div class="row">
            <div class="col-lg-2 col-xs-2">
              <span> Name  </span>
            </div>
            <div class="col-lg-10 col-xs-10">
              <span> {{patient.name}} </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-xs-2">
              <span> Password </span>
            </div>

            <div class="col-lg-10 col-xs-10">
              <span> **************** </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-xs-2">
              <span> Phone </span>
            </div>
            <div class="col-lg-10 col-xs-10">
              <span> {{patient.phone}} </span>
            </div>  
          </div>
          <div class="row">
            <div class="col-lg-2 col-xs-2">
              <span> Email: </span>
            </div>
            <div class="col-lg-10 col-xs-10">
              <span> {{patient.email}} </span>
            </div>
          </div>
            <div class="col-lg-4 col-xs-4">
              <button>Edit Details</button>
            </div>

        </div>
      </div>


      <div class="row" ng-if="patient.show_send > 0">
        <hr>
        Send Medical Records
        <div class="send_records">
            <div class="col-lg-2 col-xs-2">
              <span> To Email: </span>
            </div>
            <div class="col-lg-10 col-xs-10">
              <input type="text" />
            </div>   
            <div class="col-lg-10 col-xs-10">
              <button>Send Records</button>
            </div>            
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-xs-4"></div>
</div>