<div id="patientCard">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4"></div>

    <div class="col-lg-4 col-md-4 col-xs-4 middle_box">
      <div class="row">
        <div class="col-lg-6 col-xs-6">
          Patient Username
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-3 col-xs-3">
          <button>Patient Details</button>
        </div>
        <div class="col-lg-3 col-xs-3">
          <button>Quiz Performance</button>
        </div>
        <div class="col-lg-3 col-xs-3">
          <button>Send Medical Records</button>
        </div>
        <div class="col-lg-3 col-xs-3">
          <button>Delete</button>
        </div>
      </div>


      <div class="row">
        <hr>
        Patient Details
        <div class="account_details">
            <div class="col-lg-2 col-xs-2">
              <span> Name  </span>
            </div>
            <div class="col-lg-10 col-xs-10">
              <span> Adam T </span>
            </div>
            <div class="col-lg-2 col-xs-2">
              <span> Password </span>
            </div>

            <div class="col-lg-10 col-xs-10">
              <span> **************** </span>
            </div>
            <div class="col-lg-2 col-xs-2">
              <span> Phone </span>
            </div>
            <div class="col-lg-10 col-xs-10">
              <span> 949-245-9949 </span>
            </div>  
            <div class="col-lg-2 col-xs-2">
              <span> Email: </span>
            </div>
            <div class="col-lg-10 col-xs-10">
              <span> Adam.Anh.Ta@Gmail.com </span>
            </div>
            <div class="col-lg-4 col-xs-4">
              <button>Edit Details</button>
            </div>

        </div>
      </div>


      <div class="row">
        <hr>
        Send Medical Records
        <div class="send_records">
            <div class="col-lg-2 col-xs-2">
              <span> To Email: </span>
            </div>
            <div class="col-lg-10 col-xs-10">
              <span> Adam.Anh.Ta@Gmail.com </span>
            </div>   
            <div class="col-lg-10 col-xs-10">
              <button>Send Records</button>
            </div>            
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-xs-4"></div>
</div>